.card-header {
	
	padding-bottom: 0;

}

.card {
	margin-bottom: 6px;
	border-bottom: 1px #dddddd solid;
}
.card-cnt {
	padding: 5px 15px;
}
.borderless {
	border: none;
}

.share_border_bottom {
	border-bottom: 2px solid #a6ce39;
}

/* share */

/*=====================*/
.social-nav {
	padding: 0;
	list-style: none;
	display: inline-block;
	margin: 10px auto;
}

.social-nav li {
	display: inline-block;
}

.social-nav a {
	display: inline-block;
	float: left;
	width: 35px;
	height: 35px;
	font-size: 20px;
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	line-height: 40px;
	background: #000;
	position: relative;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.model-1 li {
	margin: 0 2px;
}

.model-1 a {
	background: #000000;
	-moz-transition: -moz-transform 1s, background 0.4s;
	-o-transition: -o-transform 1s, background 0.4s;
	-webkit-transition: -webkit-transform 1s, background 0.4s;
	transition: transform 1s, background 0.4s;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.model-1 a:hover {
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}

.model-1 .twitter {
	color: #00ACED;
}

.model-1 .facebook {
	color: #3B579D;
}

.model-1 .google-plus {
	color: #DD4A3A;
}

.model-1 .linkedin {
	color: #007BB6;
}

.model-1 .pinterest {
	color: #CB2026;
}

/* share */

/* article_info */
.article_title {
	padding-bottom: 1px;
	font-weight: bold;
	margin-top: 0;
}

.padding_abstract {
	padding: 15px;
	border-left: 5px solid rgba(0, 0, 0, 0.1);
	border-right: 0px;
	text-align: justify;
}

.abs_2 {
	border-left: 5px solid rgba(0, 0, 0, 0.1);
	border-right: 0px;
	text-align: justify;
	padding: 10px;
}

/* editorial board */
.circle {
	position: relative;
	width: 6%;
	height: 0;
	padding: 3% 0;
	border-radius: 50%;
	background: #a6ce39;
	color: #ffffff;
}

.or {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.or:before {
	content: '';
	vertical-align: middle;
	display: inline-block;
	width: 0;
	height: 100%;
}

.or span {
	vertical-align: middle;
	display: inline-block;
	font-weight: 900;
	font-size: 12px;
}

.role_name {
	border-bottom: 1px solid #aaaaaa;
	padding-bottom: 3px;
}
/*.dropdown-menu{
	font-size:12px;
}
.panel-title{
	font-size:13px;
}*/

/* back top up  */
#toTop_old {
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	transition: background-color .3s,
	  opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
  }
  #toTop_old::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
  }
  #toTop_old:hover {
	cursor: pointer;
	background-color: #333;
  }
  #toTop_old:active {
	background-color: #555;
  }
  #toTop_old.show {
	opacity: 1;
	visibility: visible;
  }

  .panel-default>.panel-heading{
	  border-radius: 0px;
  }
  /* Styles for the content section */

  @media (min-width: 500px) {

	#toTop_old {
	  margin: 30px;
	}
  }
