#footer {
    padding-top: 35px;
    margin-top: 60px;
    clear: both;
    color: #AAA;
    display: block;
    position: relative;

    padding: 35px 20px 0;
    margin-top: 0;
}

#footer .widgettitle {
    margin: 0px;
    padding: 0px 0px 15px;
    border-bottom: medium none;
}
#footer h4 {
    color: #FFF;
}

#footer ul {
    list-style: outside none none;
}

#footer li {
    padding: 4px 0px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    margin: 0px;
}

#footer .copyright li {
    border-bottom: none;
}

#footer li a {
    color: #DDD;
}

#sub-floor {
    color: #AAA;
    background: #031634 none repeat scroll 0% 0%;
    padding: 10px 0px;
}

.margin-top-20{
    margin-top: 20px;
    font-size: 32px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}
.margin-top-20 a{
    padding: 5px;
}
#footer i{
    color: white;
}

#footer::before {
    content: " ";
    display: block;
    height: 6px;
    width: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

#footer form .input-group-addon i {
    color: rgba(0,0,0,.6) !important;
}